<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

  <include resource="logback-appenders-fluentd.xml" />
  <include resource="logback-appenders-stdout.xml" />

  <logger name="io.netty" level="DEBUG" additivity="true">
    <appender-ref ref="STDOUT" />
    <if condition='property("fluency.enabled").contains("true")'>
    <then>
      <appender-ref ref="FLUENCY" />
    </then>
    </if>
  </logger>
  <logger name="io.vertx" level="DEBUG" additivity="true">
    <appender-ref ref="STDOUT" />
    <if condition='property("fluency.enabled").contains("true")'>
    <then>
      <appender-ref ref="FLUENCY" />
    </then>
    </if>
  </logger>

  <!-- Loggers for our application -->
  <logger name="edu.ucla.library.iiif.fester" level="DEBUG" additivity="true">
    <appender-ref ref="STDOUT" />
    <if condition='property("fluency.enabled").contains("true")'>
    <then>
      <appender-ref ref="FLUENCY" />
    </then>
    </if>
  </logger>

  <!-- Default logging level for everything else -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <if condition='property("fluency.enabled").contains("true")'>
    <then>
      <appender-ref ref="FLUENCY" />
    </then>
    </if>
  </root>

</configuration>
