<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%level] %logger{0}:%X{line} %d{yyyy-MM-dd_HH:mm:ss.SSS} | %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="WARN" />
  <logger name="io.vertx" level="INFO" />
  <logger name="info.freelibrary.util.I18nException" level="WARN" />
  <logger name="info.freelibrary.iiif.presentation.v2.ServiceImage" level="ERROR" />

  <logger name="edu.ucla.library.iiif.fester" level="${logLevel}" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
