<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
  <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
  <timestamp key="byDay" datePattern="yyyy-MM-dd" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>${logLevel}</level>
    </filter>
    <encoder>
      <pattern>avuongtest[%level] %logger{45}:%X{line} | %msg%n</pattern>
    </encoder>
  </appender>

  <include resource="logback-appenders-fluentd.xml" />

  <logger name="io.netty" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  <!--  <appender-ref ref="FLUENCY" /> -->
  </logger>
  <logger name="io.vertx" level="ERROR" additivity="false">
    <appender-ref ref="STDOUT" />
  <!--  <appender-ref ref="FLUENCY" /> -->
  </logger>

  <!-- Loggers for our application -->
  <logger name="edu.ucla.library.iiif.fester" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  <!--  <appender-ref ref="FLUENCY" /> -->
  </logger>

  <!-- Default logging level for everything else -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  <!--  <appender-ref ref="FLUENCY" /> -->
  </root>

</configuration>
