
.container-fluid p {
    padding-top: 15px;
}

body {
    padding-top: 80px;
    font-family: Montserrat, sans-serif !important;
}

h1 {
    font-weight: 400;
    color: #2774AE;
    font-size: 1.85714em;
}
