
body {
  font-family: Montserrat, sans-serif !important;
}

.bg-custom-grey {
  background-color: #003B5C !important;
}

.navbar-dark .navbar-brand {
  color: #FFD100 !important;
  font-weight: bold;
  margin-bottom: 3px;
}
