
body {
  margin: 0;
  padding: 0;
  padding-top: 56px;
}

.bCXegy {
  color: #FFD100 !important;
}

span.property.token.string {
  color: #FFD100 !important;
}

span.token.boolean {
  color: white !important;
}

span.token.string {
  color: #6BBD5B !important;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.menu-content {
  padding-top: 10px;
}
