###########################################################################
# GENERAL SETTINGS
###########################################################################

openapi.spec.path = $OPENAPI_SPEC_PATH

# S3 configuration options
fester.s3.bucket=$FESTER_S3_BUCKET
fester.s3.access_key=$FESTER_S3_ACCESS_KEY
fester.s3.secret_key=$FESTER_S3_SECRET_KEY
fester.s3.region=$FESTER_S3_REGION
fester.s3.endpoint=$FESTER_S3_ENDPOINT

# The URL Fester is available at
fester.url=$FESTER_URL

# The IIIF image server URL to use for missing images
fester.placeholder.url=$FESTER_PLACEHOLDER_URL

# The port Fester listens on
fester.http.port=$FESTER_HTTP_PORT

# The base URL for the IIIF image service (includes service prefix)
iiif.base.url=$IIIF_BASE_URL