
.csv-upload-form {
    padding-top: 20px;
}

.container-fluid p {
    padding-top: 15px;
}

body {
    padding-top: 80px;
    font-family: Montserrat, sans-serif !important;
}

h1 {
    font-weight: 400;
    color: #003B5C;
    font-size: 1.85714em;
}

info-form {
    color: black;
}

#important {
  margin-top: 60px;
  font-style: italic;
}

.infotext {
  font-size: smaller;
  color: #003B5C;
}

.form-group {
  padding-top: 10px;
}

